.boardBox {
    background-color: red;
    display: grid;
    grid-gap: 0;
    grid-template-rows: 0.3fr 1fr;
}

.boardTitle {
    text-align: center;
    color: white;
    text-transform: capitalize;
}

.boardMessages {
    overflow-y: scroll;
}
.messageBox {
    color: white;
    text-align: center;
    background-color: blue;
}