.mainContainer {
	display: grid;
	grid-template-rows: .5fr 4fr;
	grid-gap: 0;
}

.siteHeader {
	display: grid;
	grid-gap: 0;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-columns: 1fr 8fr 1fr;
}

.loginButton {
	grid-column: 3;
	grid-row: 2;
}

.titleApp {
	grid-column: 2;
	grid-row: 2;
}

.boardsWrapper {
	background-color: aqua;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 250px;
	/* grid-template-rows: repeat(auto-fit, 100px); */
	grid-gap: 20px;
}

.addBoardButton {
	position: fixed;
	bottom: 0;
	right: 0;
}