.boardsWrapper {
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 250px;
    /* grid-template-rows: repeat(auto-fit, 100px); */
    grid-gap: 20px;
}